.sectionAboutPage {
  padding: 7rem 1rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}




  .sectionAboutPage h1 {  
    font-family: 'Abril Fatface', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--color-headline-principal);
  }

  .sectionAboutPage img {
    width: 350px;
    height: 350px;
  }

  .aboutMePageText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    font-weight: 300;
    max-width: 800px;
  }

  .aboutMePageText p {
    font-size: 1.5rem;
  }
