.contacts {
  background-color: var(--color-headline-principal);
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-bg-principal);
}

.contacts h1 {
  font-size: 1rem;
}

.contacts i {
  color: var(--color-bg-principal);

}