.btnThemes {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  background: none;
  border: none;
}

.btnThemes i {
  color: var(--card-headline-section);
  font-size: 25px;
  transition: 0.5s;
  padding: 10px;
  border-radius: 50%;
}

.btnThemes i:hover {
  color: var(--color-terciary);
  transform: translateY(-5px);
}

.listTheme {
  position: absolute;
  top: 7rem;
  display: flex;
  padding: 1rem;
  transition: 1s;
  overflow: hidden;
}

.listTheme i {
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
}

.listItemTheme {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.listTheme .listItemTheme:nth-last-child(1),
.listTheme .listItemTheme:nth-last-child(2),
.listTheme .listItemTheme:nth-last-child(3),
.listTheme .listItemTheme:nth-last-child(4),
.listTheme .listItemTheme:nth-last-child(5) {
  border-radius: 50%;
  color: #fffffe;
}

.listTheme .listItemTheme:nth-last-child(1) {
  background-color: #f582ae;
  color: #172c66;
}

.listTheme .listItemTheme:nth-last-child(2) {
  background-color: #ffc0ad;
  color: #271c19;
}

.listTheme .listItemTheme:nth-last-child(3) {
  background-color: #f9bc60;
  color: #001e1d;
}

.listTheme .listItemTheme:nth-last-child(4) {
  background-color: #00ebc7;
}

.listTheme .listItemTheme:nth-last-child(5) {
  background-color: #26eee7;
  color: #00214d;
}

@media screen and (max-width: 600px),
(max-width: 950px) and (min-width: 601px){
  .listTheme {
    justify-content: space-between;
    transform: translateX(-100%);
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
  }

  .listTheme.ShowTheme {
    transform: translateX(0);
  }
}

@media (min-width: 951px) {
  .listTheme {
    justify-content: space-between;
    transform: translateX(100%);
    align-items: center;
    width: 35%;
    right: 0;
  }

  .listTheme.ShowTheme {
    transform: translateX(0);
  }
}